*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header-container {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    width: 100%;
    background-image: url(Rectangle.png);
    align-items: center;
    /* justify-content: center; */
    /* margin: auto; */

}

.header-text1 {
    display: flex;
    max-width: 730px;
    width: 100%;
    /* max-height: 170px;
    height: 100%; */
    font-size: 54px;
    /* margin: auto; */
    color: #FFFFFF;
    text-align: center;
    font-weight: 500;
    line-height: 94.85px;
    font-family: Oswald, sans-serif;
    
    padding-top: 192px;
}
.header-text2 {
    font-family: Oswald, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 26.68px;
    color: #FFFFFF;
    
}

.header-section {
    max-width: 1110px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FFFFFF;
    font-family: Oswald, sans-serif;
    
}

.h-s-elem1 {
    font-size: 72px;
    color: #F7654A;
   }
   .h-s-elem2 {
       font-size: 36px;
       color: #000000;
       font-weight: 500;
      }
   
   .h-s-elem3 {
       font-size: 18px;
       color: #999999;
       font-weight: 500;
      }
      
.header-section-elem{
padding-top: 57px;
padding-bottom: 57px;
}

.main-container {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}   


.project-container {
    max-width: 1110px;
    width: 100%;
    
    padding-top: 200px;
    padding-bottom: 200px;
    
}   

.project-title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 60px;
    color: #404149;
    font-family: Oswald, sans-serif;
    text-align: center;
}

.arens-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.arens-elem{
    max-width: 350px;
    width: 100%;
}
.arena {
    font-size: 24px;
    font-weight: 500;
    color: #404149;
    margin-bottom: 20px;
    font-family: Oswald, sans-serif;
}

.arena-text {
    font-size: 16px;
    font-weight: 400;
    color: #999999;
    font-family: Open Sans, sans-serif;

}

.icon-line {
    max-width: 55px;
    width: 100%;
    max-height: 6px;
    height: 100%;
    background-color:#F7654A ;
    margin-top: 45px;
    margin-bottom: 15px;

}

.section2 {
    max-width: 1920px;
    width: 100%;
    background-color: #F7654A;
    display: flex;
    justify-content: center;
    
    font-family: Oswald, sans-serif;
}
.section2-container {
    max-width: 1110px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.section2-text1 {
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
}

.section2-text2 {
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
}

.request-container {
   max-width: 175px;
    width: 100%;
    max-height: 50px;
    height: 100%;
    background-color: #FFFFFF; 
    display: flex;
    justify-content: center;

}

.request {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    font-family: Oswald, sans-serif;
}

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    max-width: 1920px;
    width: 100%;
    max-height: 1860px;
    height: 100%;
    
}

.section3-container1 {
    max-width: 1110px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.section3-title {
font-size: 36px;
font-weight: 500;
display: flex;
justify-content: center;
font-family: Oswald, sans-serif;
/* margin-bottom: 66px; */
}



.section3-box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section3-box {
    max-width: 350px;
    /* max-height: 250px; */
    width: 100%;
    /* height: 100%; */
    background-color:#F7F7F7;
    /* padding: 60px 90px 60px 90px; */
    display: flex;
    justify-content: center;
    align-items: center;

    
    
}

.section3-box-elem {
    display: flex;
    flex-direction: column;
    max-width: 178px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
   
    
}

.bildung {
    max-width: 174px;
    width: 100%;
    max-height: 132px;
    height: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 31.12px;
    text-align: center;
    font-family: Oswald, sans-serif;
    
}

.icon {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
  

.section3-container2 {
    max-width: 1110px;
    width: 100%;
    /* max-height: 644px;
    height: 100%; */
}

.section3-box-container-grid {
  display: grid;
 
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
  
  
  
}

.icon-grid {
    display: grid;
    justify-items: center;
    padding-top: 60px ;
    padding-bottom: 30px;
}

.bildung-grid {
    max-width: 174px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 31.12px;
    
    font-family: Oswald, sans-serif;
    padding-bottom: 60px;
}
.section3-grid-box {
    background-color: #F7F7F7;
    max-width: 350px;
    width: 100%;
    display: grid;
    justify-items: center;
    text-align: center;
} 
.than {
    padding-bottom: 66px;
    margin-top: 150px;
}